@import url(http://fonts.googleapis.com/css?family=Raleway:400);

h1{font: 400 1.75em/1.5em "Raleway", "Helvetica Neue", Helvetica, sans-serif; text-align:center;}

.node {
  stroke: #000;
  stroke-width: 1.5px;

}

.link {
  stroke: #999;
  stroke-width: 1.5px;
}

.tooltip {
  position: absolute;
  text-align: left;
  width: auto;
  height: auto;
  padding: 3px 5px 3px 5px;
  font: 1em sans-serif;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  background-color: lightsteelblue;
}